﻿<div class="container">
  <div class="row">

    <div class="col-md-12 py-4 text-center">
      <h1>List of Employees</h1>
    </div>
    <button type="button" class="btn btn-primary  float-right" (click)="openNewModal(editProfileModal)">Create
      Employee</button>

  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 py-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">address</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">Mobile</th>
            <th scope="col">City</th>
            <th scope="col">Delete</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of this.employees">
            <th scope="row">{{user.id}}</th>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.address}}</td>
            <td>{{user.email}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.mob}}</td>
            <td>{{user.city}}</td>
            <td><a (click)="deleteUser(user.id)" class="text-danger">Delete</a></td>
            <td>
              <button type="button" class="btn btn-primary"
                (click)="openModal(editProfileModal, user,$event)">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Employee Profile</h5>
    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="id" class="col-sm-4 col-form-label">ID</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="id" id="id" readonly>
        </div>
      </div>


      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">First Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="firstname" id="firstname" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
          <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
            <div *ngIf="f.firstname.errors.required">First Name is required</div>
          </div>
        </div>

      </div>


      <div class="form-group row">
        <label for="lastname" class="col-sm-4 col-form-label">Last Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="lastname" id="lastname"  [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
          <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
        </div>
        </div>
      </div>


      <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label">address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="address" id="address"[ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="dob" class="col-sm-4 col-form-label">Date Of Birth</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" formControlName="dob" id="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
          <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
            <div *ngIf="f.dob.errors.required">DOB is required</div>
        </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="mob" class="col-sm-4 col-form-label">Mobile</label>
        <div class="col-sm-8">
          <input type="mob" class="form-control" formControlName="mob" id="mob" [ngClass]="{ 'is-invalid': submitted && f.mob.errors }" />
          <div *ngIf="submitted && f.mob.errors" class="invalid-feedback">
            <div *ngIf="f.mob.errors.required">Mobile is required</div>
        </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="city" class="col-sm-4 col-form-label">City</label>
        <div class="col-sm-8">
          <input type="city" class="form-control" formControlName="city" id="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">City is required</div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <div *ngIf="this.update">
          <button  class="btn btn-primary" type="submit">
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
            Update changes
          </button>
        </div>

        <div *ngIf="!this.update">
          <button type="submit"  class="btn btn-primary">Save Profile
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
          </button>
        </div>
      </div>

    </form>
  </div>
</ng-template>
<p-confirmDialog key="confirm-check" header="Confirm" acceptLabel="Yes" rejectLabel="No"
  [(visible)]="confirmDialogVisible"></p-confirmDialog>